# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/

# IDE
.idea/
.vscode/

# Data files
*.pkl
*.log
!preprocessed_data/cls_preprocessed_dataset.csv  # Allow this specific CSV file

# Environment variables
.env